#container {
  position: relative;
  height: 1100px;
}
#search_box {
  position: relative;
  background-color: #95ea9553;
  width: 1130px;
  height: 330px;
}
#seachList_box {
  position: absolute;
  background-color: white;
  width: 1070px;
  height: 270px;
  margin: 30px;
}
#seachList_box>p {
  font-size: 30px;
  margin: 30px 0px 45px 15px;
}
#club_searchList {
  position: relative;
  margin: 30px 40px;
}
#seachList_box select, input {
  border-radius: 5px;
  border: 2px solid gray;
  font-size: 20px;
  text-align: center;
  height: 30px;
}
#searchKey, #age, #gender, #member_count {
  margin: 0px 15px 15px 0px;
  width: 200px;
}
#search_select {
  width: 150px;
}
#searchWord {
  width: 300px;
}
#submit, #reset {
  position: absolute;
  background-color: #95ea9553;
  font-size: 18px;
  width: 80px;
  bottom: -40px
}
#submit {
  right: 0px;
}
#reset {
  right: 100px;
}
#club_container {
  position: relative;
  padding:10px 25px;
  height: 650px;
}
.club_box {
  display: inline-block;
  border: 2px solid gray;
  border-radius: 5px;
  width: 185px;
  height: 185px;
  margin: 10px;
  font-size: 15px;
  line-height: 18px;
}
.club_box ul {
  border: 0px;
  padding: 0px;
}
#club_img {
  width: 185px;
  height:100px;
}
#sort_list li {
  display: inline-block;
}
#club_All_Number {
  position: relative;
  text-align: center;
  font-size: 18px;
}